body {
    font-family: Arial, sans-serif;
    background-color: red;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:blue;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-style {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
}
